body{
    margin: 0px;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr;
    grid-template-areas: "sidebar header"
                         "sidebar main-content";
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 30% 20%;
    grid-area: sidebar;

    background-color: rgb(37, 168, 243);
}

.logo{
    display: grid;
    grid-template-columns: 25% 50%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.logo img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    
}


.icon{
    display: grid;
    grid-template-columns: 25% 50%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.icon img{
    justify-self: center;
}

.header{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: header;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.search-section{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;
    column-gap: 20px;
    align-content: center;
}

.search-section input[type="search"]{
    background-color: rgb(131, 131, 131);
    border: none;
    border-radius: 10px;
}

.profile-section{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: end;
    align-items: center;
    column-gap: 15px;
}

.profile-section #pfp{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.greeting-section{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 10px;
}

.greeting-section img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
}

.button-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 20px;
}

.button-section input[type="button"]{
    background-color: blue;
    min-height: 50px;
    height: 50%;
    border-radius: 15px;
}


/*------------------------------*/
.main-content{
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-areas: "cards news";
    grid-area: main-content;
    padding: 20px;
    column-gap: 10px;
    background-color: gray;
}

.cards{
    
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 20px;
}

.card-background{
    height: 100%;
    display: grid;
    background-color: orange;
    border-radius: 10px;
}

.card{
    margin-left: 2%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.card-options{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
}
.announcement-content{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.trending-content{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.trending-item{
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
}

.trending-item img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

